[submodule "app/src/main/cpp/third_party/UxPlay"]
	path = app/src/main/cpp/third_party/UxPlay
	url = https://github.com/seancheung/UxPlay.git
	branch = android
[submodule "app/src/main/cpp/third_party/libplist"]
	path = app/src/main/cpp/third_party/libplist
	url = https://github.com/libimobiledevice/libplist.git
[submodule "app/src/main/cpp/third_party/openssl-cmake"]
	path = app/src/main/cpp/third_party/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake.git
[submodule "app/src/main/cpp/third_party/alac"]
	path = app/src/main/cpp/third_party/alac
	url = https://github.com/macosforge/alac.git
